
html, body {
  height: 100%;
}

body {
  background: #ffeff5;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
  padding-top: 15px;
}
io-player {
  display: flex;
  justify-content: center;
}
